In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG1.csv")

In [3]:
data.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [4]:
data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [5]:
data.groupby("Item")[["Y2014", "Y2017"]].sum().loc["Animal fats"]

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

In [6]:
data["Y2015"].mean(), data["Y2015"].std()

(135.23596649549236, 1603.4039839423301)

In [7]:
data["Y2016"].isna().sum(), (data["Y2016"].isna().sum() / len(data) * 100).round(2)

(1535, 2.52)

In [8]:
abs(data.corr()["Element Code"])[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sort_values(ascending = False).head(1)

Y2014    0.024457
Name: Element Code, dtype: float64

In [9]:
(data.groupby("Element")[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()
 .loc["Import Quantity"].sort_values(ascending= False)).head(1)

Y2017    294559.09
Name: Import Quantity, dtype: float64

In [10]:
(data.groupby("Element")["Y2014"].sum().loc["Production"])

1931287.75

In [11]:
data.groupby("Element")["Y2018"].sum().sort_values(ascending = False).head(1)

Element
Domestic supply quantity    2161192.1
Name: Y2018, dtype: float64

In [12]:
data.groupby("Element")["Y2018"].sum().sort_values(ascending = True).head(3)

Element
Tourist consumption                          90.00
Fat supply quantity (g/capita/day)        10258.69
Protein supply quantity (g/capita/day)    11833.56
Name: Y2018, dtype: float64

In [13]:
grp_df = data.groupby(["Area", "Element"])[["Y2018"]]#.agg()

In [14]:
grp_df.sum().loc[("Algeria", "Import Quantity")]

Y2018    36238.29
Name: (Algeria, Import Quantity), dtype: float64

In [15]:
data["Area"].nunique()

49